* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
}

.title {
    margin-top: 28px;
}

.title h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #EB5757;
    font-weight: bold;
    font-size: 36px;
    margin-left: 20px;
}

.block1 {
    margin-top: 28px;
    display: flex;
}

#target-date {
    overflow: hidden;
    height: 30px;
}

.block1 .target-date-selecter-container {
    margin-left: 20px;
}

.block1 .target-date-selecter {
    display: flex;
    justify-content: center;
}

.block1 .target-date-selecter .one-day-ago {
    border: 1px solid #BDBDBD;
    background-color: white;
    width: 30px;
    height: 30px;
}

.block1 .target-date-selecter .one-day-ago::before {
    content: "<";
    font-size: 20px;
    color: #828282;
    text-align: center;
}

.block1 .target-date-selecter .one-day-later {
    border: 1px solid #BDBDBD;
    background-color: white;
    width: 30px;
    height: 30px;
}

.block1 .target-date-selecter .one-day-later::before {
    content: ">";
    font-size: 20px;
    color: #828282;
    text-align: center;
}

.block1 .target-date-selecter .target-date {
    border: 1px solid #BDBDBD;
    background-color: white;
    width: 114px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    color: #828282;
    box-sizing: border-box;
    border-right: none;
    border-left: none;
    ;
}

.total-time {
    color: #828282;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
}

.block2 {
    margin-top: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .1);
    width: 1600px;
    margin-left: 20px;
    background-color: white;
    width: calc(100% - 40px);
    display: flex;
    border: 1px solid #BDBDBD;
    /* padding-bottom: 10px; */
}

.block2 .left-block {
    width: 490px;
    /* background-color: red; */
    position: relative;
}

.block2 .left-block .header {
    width: 100%;
    position: relative;
    height: 40px;
    background-color: #F2F2F2;

}

.block2 .left-block .header .column {
    height: 40px;
    position: absolute;
    top: 0px;
    overflow: hidden;
    width: 200px;
}

.block2 .left-block .header .column:nth-of-type(n + 2) {
    border-left: 1px solid #BDBDBD;
}

.block2 .left-block .header .column:nth-of-type(2) {
    left: 200px;
}

.block2 .left-block .header .column:nth-of-type(3) {
    left: 400px;
}

.block2 .left-block .header .column span {
    position: absolute;
    left: 10px;
    top: 8px;
    color: #4F4F4F;
}

.block2 .left-block .body .time-entry-description-container {
    height: 40px;
    border-top: 1px solid #BDBDBD;
    position: relative;
}

.block2 .left-block .body .time-entry-description-container:last-of-type {
    border-bottom: 1px solid #BDBDBD;
}

.block2 .left-block .body .time-entry-description-container .column {
    height: 40px;
    position: absolute;
    top: 0px;
    overflow: hidden;
    width: 200px;
}

.block2 .left-block .body .time-entry-description-container .column:nth-of-type(n + 2) {
    border-left: 1px solid #BDBDBD;
}

.block2 .left-block .body .time-entry-description-container .column:nth-of-type(2) {
    left: 200px;
}

.block2 .left-block .body .time-entry-description-container .column:nth-of-type(3) {
    left: 400px;
}

.block2 .left-block .body .time-entry-description-container .column span {
    position: absolute;
    left: 10px;
    top: 8px;
    color: #4F4F4F;
}

.block2 .right-block {
    width: calc(100% - 490px);
    /* background-color: blue; */
    overflow-x: auto;
    overflow: auto;
    border-left: 1px solid #BDBDBD;
}

.block2 .right-block .scrollable-block {
    width: 2440px;
    /* background-color: orange; */
}

.block2 .right-block .scrollable-block .header {
    height: 40px;
    position: relative;
    background-color: #F2F2F2;
}

.block2 .right-block .scrollable-block .header .time {
    display: block;
    position: absolute;
    width: 100px;
    left: 20px;
    top: 10px;
    font-size: 12px;
    color: #4F4F4F;
}

.block2 .right-block .scrollable-block .header .time:nth-of-type(2) {
    left: 120px;
}

.block2 .right-block .scrollable-block .header .time:nth-of-type(3) {
    left: 220px;
}

.block2 .right-block .scrollable-block .header .time:nth-of-type(4) {
    left: 320px;
}

.block2 .right-block .scrollable-block .header .time:nth-of-type(5) {
    left: 420px;
}

.block2 .right-block .scrollable-block .header .time:nth-of-type(6) {
    left: 520px;
}

.block2 .right-block .scrollable-block .header .time:nth-of-type(7) {
    left: 620px;
}

.block2 .right-block .scrollable-block .header .time:nth-of-type(8) {
    left: 720px;
}

.block2 .right-block .scrollable-block .header .time:nth-of-type(9) {
    left: 820px;
}

.block2 .right-block .scrollable-block .header .time:nth-of-type(10) {
    left: 920px;
}

.block2 .right-block .scrollable-block .header .time:nth-of-type(11) {
    left: 1020px;
}

.block2 .right-block .scrollable-block .header .time:nth-of-type(12) {
    left: 1120px;
}

.block2 .right-block .scrollable-block .header .time:nth-of-type(13) {
    left: 1220px;
}

.block2 .right-block .scrollable-block .header .time:nth-of-type(14) {
    left: 1320px;
}

.block2 .right-block .scrollable-block .header .time:nth-of-type(15) {
    left: 1420px;
}

.block2 .right-block .scrollable-block .header .time:nth-of-type(16) {
    left: 1520px;
}

.block2 .right-block .scrollable-block .header .time:nth-of-type(17) {
    left: 1620px;
}

.block2 .right-block .scrollable-block .header .time:nth-of-type(18) {
    left: 1720px;
}

.block2 .right-block .scrollable-block .header .time:nth-of-type(19) {
    left: 1820px;
}

.block2 .right-block .scrollable-block .header .time:nth-of-type(20) {
    left: 1920px;
}

.block2 .right-block .scrollable-block .header .time:nth-of-type(21) {
    left: 2020px;
}

.block2 .right-block .scrollable-block .header .time:nth-of-type(22) {
    left: 2120px;
}

.block2 .right-block .scrollable-block .header .time:nth-of-type(23) {
    left: 2220px;
}

.block2 .right-block .scrollable-block .header .time:nth-of-type(24) {
    left: 2320px;
}

.block2 .right-block .scrollable-block .body .time-entry-container {
    height: 40x;
    width: 2440px;
    border-top: 1px solid #BDBDBD;
}

.block2 .right-block .scrollable-block .body .time-entry-container:last-of-type {
    border-bottom: 1px solid #BDBDBD;
}

.block2 .right-block .scrollable-block .body .time-entry-container:nth-of-type(n + 2) {}

.block2 .right-block .scrollable-block .body .time-entry-container {
    position: relative;
    height: 40px;
}

.block2 .right-block .scrollable-block .body .time-entry-container .time-entry {
    background-color: #BDBDBD;
    height: calc(40px - 2px);
    width: 163px;
    position: absolute;
    top: 0px;
    left: 20px;
    border-radius: 5px;
}

#workspace_id {
    border: 1px solid #BDBDBD;
    background-color: white;
    margin-top: 50px;
    margin-left: 20px;
    width: 500px;
}

#api_token {
    border: 1px solid #BDBDBD;
    background-color: white;
    margin-top: 5px;
    margin-left: 20px;
    width: 500px;
}